@import "~bootstrap/scss/bootstrap";
@import "partials/variables.scss";

header{
    ul{
        margin: 0;
        li{
            display: inline-block;
            padding: 1rem;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 14px;
            font-stretch: extra-condensed;

            a{
                text-decoration: none;
                color: #534f49;
                cursor: pointer;

                &.active_link{
                    color: $brandColor;
                }
                &:hover{
                    color: $brandColor;
                }
            }
        }
    }
}

footer {
    .footer-links {
      background-image: url(../../assets/images/footer-bg.jpg);
      background-size: cover;
      height: 350px;
      overflow: hidden;
      color: white;

        .menu {
            margin-right: 2.5rem;
            h5 {
            color: white;
            font-stretch: extra-condensed;
            font-weight: bold;
            }
            li {
            color: #939393;
            font-size: 14px;
            }
        }
    }

    .footer-social {
      background-color: #303030;

        .cta-button {
            padding: 10px;
            border: $brandColor solid 2px;
        }
        .social {
            color: $brandColor;
            font-weight: bold;
        }
    }
  
    .logo-bg {
        img {
        height: 500px;
        position: relative;
        bottom: 80px;
        }
    }
}

section#jumbo{
    height: 350px;
    background-image: url(../../assets/images/jumbotron.jpg);
    background-size: cover;
}

main{
    background-color: #1c1c1c;
    position: relative;
    .heading{
        color: white;
        background-color: $brandColor;
        font-size: 20px;
        text-transform: uppercase;
        font-weight: bold;
        font-stretch: ultra-condensed;
        position: absolute;
        top: -25px;
    }
    .comics-container{
        margin: auto;
    }  
    .load-more{
        background-color: $brandColor;
        width: 200px;
        font-weight: bold;
        font-stretch: ultra-condensed;
        margin-top: -40px;
        cursor: pointer;
    }
}

.comic {
    width: calc(100% / 6);
        .image-container {
            height: 192px;
            width: 192px;
            img.comic-cover {
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: top;
            }
        }
        .title {
            font-size: 14px;
            margin-right: 25px;
        }
}

section#market{
    background-color: $brandColor;
    ul{
        li{
            display: inline-block;
            margin-right: 1rem;
            color: white;
            font-size: 13px;
            img{
                height: 50px;
                &.svg-icon{
                    width: 50px;
                }
            };
        }
    }
}